<footer class="footer">
  <nav class="footer__menu">
    <ul class="footer__list">
      <li class="footer__list-item">articles</li>
      <li class="footer__list-item">books</li>
      <li class="footer__list-item">events</li>
      <li class="footer__list-item">reasons</li>
      <li class="footer__list-item">tips</li>
    </ul>
  </nav>
  <div class="footer__socials">
    <a class="footer__social" href="" title="Twitter">twitter</a>
    <a class="footer__social" href="" title="Instagram">instagram</a>
    <a class="footer__social" href="" title="Mastodon">mastodon.social</a>
  </div>
  <div class="footer__info">
    <p>&copy;2017</p>
    <p>we <span class="heart__symbol">&#10084;</span> components</p>
  </div>
</footer>