<footer class="footer">
  <a class="footer__link" href="" title="Subir hacia arriba">
    <img class="footer__link-img" src="../assets/images/ico-arrow.svg" alt="Flecha hacia arriba">
  </a>
  <nav class="footer__menu">
    <ul class="footer__list">
      <li class="footer__list-item">articles</li>
      <li class="footer__list-item">books</li>
      <li class="footer__list-item">events</li>
      <li class="footer__list-item">reasons</li>
      <li class="footer__list-item">tips</li>
    </ul>
  </nav>
  <div class="footer__social">
    <a href="" title="Twitter">twitter</a>
    <a href="" title="Instagram">instagram</a>
    <a href="" title="Mastodon">mastodon.social</a>
  </div>
  <div class="footer__info">
    <p>&copy;2017</p>
    <p>we ❤︎ components</p>
  </div>
</footer>