<aside class="aside">
  <h1 class="aside_title">3 reasons to purchase</h1>
  <div class="aside__section">
    <h2 class="aside__section-title">Ut sed metus</h2>
    <p class="aside__section-content">Lorem ipsum dolor sit amet, consecteur.</p>
  </div>
  <div class="aside__section">
    <h2 class="aside__section-title">Curabitur ac erat</h2>
    <p class="aside__section-content">Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="aside__section">
    <h2 class="aside__section-title">Morbi dictum</h2>
    <p class="aside__section-content">Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <a class="aside__button" href="" title="Más razones">More reasons</a>
</aside>