<aside class="aside" id="reasons-to-purchase">
  <h2 class="aside_title">3 reasons to purchase</h2>
  <div class="aside__container">
    <div class="aside__section">
      <h3 class="aside__section-title">Ut sed metus</h3>
      <p class="aside__section-content">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="aside__section">
      <h3 class="aside__section-title">Curabitur ac erat</h3>
      <p class="aside__section-content">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="aside__section">
      <h3 class="aside__section-title">Morbi dictum</h3>
      <p class="aside__section-content">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>

  <span class="aside__button">
    <a class="aside__button-link" href="" title="Más razones">More reasons</a>
  </span>
</aside>