<!--
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>-->

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!--<link rel="icon" href="./favicon.png" />-->
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <header>
    <img src="../assets/images/ico-menu.svg" alt="menu hamburguesa">
  </header>
  <main>
    <div>
      <h1>anonymous proxy</h1>
      <h2>In hac habitasse platea dictumst.</h2>
      <img src="../assets/images/ico-scroll-down.svg" alt="">
    </div>
    <section>
      <p>insomnia tips</p>
      <h1>looking through a window</h1>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
        semper sodales rutrum.</p>
    </section>
    <aside>
      <h1>3 reasons to purchase</h1>
      <div>
        <h2>Ut sed metus</h2>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div>
        <h2>Curabitur ac erat</h2>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div>
        <h2>Morbi dictum</h2>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <a href="">More reasons</a>
    </aside>
  </main>
  <footer>
    <a href="">
      <img src="../assets/images/ico-scroll-down.svg" alt="">
    </a>
    <nav>
      <ul>
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
      </ul>
    </nav>
    <div>
      <a href="">twitter</a>
      <a href="">instagram</a>
      <a href="">mastodon.social</a>
    </div>
    <div>
      <p>&copy;2017</p>
      <p>we ❤︎ components</p>
    </div>

  </footer>

</body>

</html>