<!--
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>-->

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anonymous Proxy</title>
  <!--<link rel="icon" href="./favicon.png" />-->
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <header class="header">
    <img class="header__img" src="../assets/images/ico-menu.svg" alt="Menu hamburguesa" title="Menu">
  </header>
  <main class="main">
    <div class="main__hero">
      <h1 class="main__hero-title">anonymous proxy</h1>
      <h2 class="main__hero-info">In hac habitasse platea dictumst.</h2>
      <a class="main__hero-link" href="" title="Ir hacia abajo">
        <img class="main__hero-button" src="../assets/images/ico-scroll-down.svg" alt="Flecha hacia abajo">
      </a>
    </div>
    <section class="main__section">
      <p class="main__section-tag">insomnia tips</p>
      <h1 class="main__section-title">looking through a window</h1>
      <p class="main__section-info">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
        diam nec lectus. Vivamus
        semper sodales rutrum.</p>
      <a class="main__section-button" href="" title="Ir">Go</a>
    </section>
    <aside class="aside">
      <h1 class="aside_title">3 reasons to purchase</h1>
      <div class="aside__section">
        <h2 class="aside__section-title">Ut sed metus</h2>
        <p class="aside__section-content">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="aside__section">
        <h2 class="aside__section-title">Curabitur ac erat</h2>
        <p class="aside__section-content">Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="aside__section">
        <h2 class="aside__section-title">Morbi dictum</h2>
        <p class="aside__section-content">Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <a class="aside__button" href="" title="Más razones">More reasons</a>
    </aside>
  </main>
  <footer class="footer">
    <a class="footer__link" href="" title="Subir hacia arriba">
      <img class="footer__link-img" src="../assets/images/ico-arrow.svg" alt="Flecha hacia arriba">
    </a>
    <nav class="footer__menu">
      <ul class="footer__list">
        <li class="footer__list-item">articles</li>
        <li class="footer__list-item">books</li>
        <li class="footer__list-item">events</li>
        <li class="footer__list-item">reasons</li>
        <li class="footer__list-item">tips</li>
      </ul>
    </nav>
    <div class="footer__social">
      <a href="" title="Twitter">twitter</a>
      <a href="" title="Instagram">instagram</a>
      <a href="" title="Mastodon">mastodon.social</a>
    </div>
    <div class="footer__info">
      <p>&copy;2017</p>
      <p>we ❤︎ components</p>
    </div>
  </footer>

</body>

</html>