.footer {
  background: $color04;
  padding: 0 15px 45px 15px;
  font-family: $font-text;
  line-height: 1.88;
  text-align: center;
  color: $color02;
  @media all and (min-width: 1200px) {
    padding: 0 370px;
  }

  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background: url("../images/ico-arrow.svg") $color02 center center no-repeat;
    display: block;
    margin: auto;
    top: -22px;
    position: relative;
    animation-duration: 2s;
    animation-name: intro;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes intro {
    from {
      transform: translate(100%);
      opacity: 0;
      color: white;
    }

    to {
      transform: translate(-50%);
      opacity: 1;
    }
  }

  &__list {
    padding: 0 37px 30px;
    @include styleLists();

    &-link {
      text-decoration: none;
      color: $color02;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }

    &-menu {
      @media all and (min-width: 768px) {
        order: 1;
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
      @media all and (min-width: 768px) {
        order: 2;
      }
      &-social {
        @include styleLists();
      }
      &-link {
        text-decoration: none;
        color: $color02;
      }
    }

    &-info {
      font-size: 14px;
      line-height: 2.14;
      padding: 30px 34px 0 34px;
      @media all and (min-width: 768px) {
        order: 0;
        padding: 0;
        text-align: left;
      }
    }
  }

  .heart__symbol {
    color: $color01;
    font-size: 14px;
  }
}
