.main__section {
  text-align: start;
  padding: 0 15px;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    padding: 0 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 275px;
  }

  &-tag {
    text-transform: capitalize;
    font-family: $font-text;
    margin-top: 30px;
    font-size: 14px;
    line-height: 2.14;
    color: #8ccbea;
    @media all and (min-width: 1200px) {
      margin-top: 60px;
      font-size: 16px;
      line-height: 1.88;
    }
  }

  &-title {
    text-transform: capitalize;
    font-family: $font-titles;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color05;
    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }

  &-info {
    font-family: $font-text;
    text-align: justify;
    font-size: 18px;
    line-height: 1.67;
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom: 30px;
    @media all and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.5;
    }
    @media all and (min-width: 1200px) {
      margin-top: 30px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &-link {
    width: 76px;
    height: 45px;
    border: 2px solid $color01;
    border-radius: 22.5px;
    font-family: $font-text;
    text-decoration: none;
    color: $color01;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    display: block;
    text-align: center;
    transition: all ease 2s;
    &:hover {
      background-color: $color01;
      color: $color02;
    }
    @media all and (min-width: 768px) {
      width: 91px;
      height: 45px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
      height: 45px;
    }
  }
}
