.aside {
  border: 2px solid blue;
  background: #eff9ff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

  &_title {
    border: 2px solid salmon;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__section {
    border: 2px solid green;
    padding: 0 55px;
    font-size: 18px;
    line-height: 1.67;
    color: #000000;
    &-title {
      font-weight: bold;
    }
  }

  &__button {
    border: 2px solid purple;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background: #f26002;
    margin: 0 50px;
    &-link {
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      color: #ffffff;
    }
  }

  &__icon {
    border: 2px solid tomato;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background: #ffffff;
    position: relative;
    left: 40%;
    right: 40%;
    top: 25px;

    &-link-image {
      width: 20.6px;
      height: 24px;
      object-fit: contain;
      color: #f26002;
      padding-top: 10px;
    }
  }
}
