.aside {
  padding: 30px 15px 60px 15px;
  background: #eff9ff;
  text-align: center;

  &_title {
    font-family: "Roboto Slab", serif;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
  }

  &__container {
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  &__section {
    font-family: "Roboto", sans-serif;
    padding: 0 45px;
    margin-top: 45px;
    font-size: 18px;
    line-height: 1.67;
    color: #000000;
    &-title {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      font-size: 18px;
    }
  }

  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background: #f26002;
    padding: 15px 30px;
    transform: translate(50px, 50px);
    &-link {
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      line-height: 2.25;
      color: #ffffff;
    }
  }
}
