.aside {
  padding: 30px 15px 60px 15px;
  background: #eff9ff;
  text-align: center;
  @media all and (min-width: 1200px) {
    padding: 60px 81px 60px 81px;
  }

  &_title {
    font-family: $font-titles;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }

  &__container {
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      grid-column-gap: 26.2px;
    }
  }

  &__section {
    font-family: $font-text;
    padding: 0 55px;
    margin-top: 45px;
    font-size: 18px;
    line-height: 1.67;
    color: $color-black;
    @media all and (min-width: 768px) {
      padding: 0;
      font-size: 20px;
      line-height: 1.5;
    }
    &-title {
      font-family: $font-titles;
      font-weight: bold;
      font-size: 18px;
      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.25;
      }
    }
  }

  &__button-link {
    font-family: $font-text;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    color: $color-white;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background: $color-button;
    display: block;
    text-align: center;
    margin: auto;
    @media all and (min-width: 768px) {
      width: 210px;
      height: 45px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
    }
  }
}
