@mixin styleLists() {
  list-style: none;
  line-height: 1.88;
  text-align: center;
  color: $color02;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

@mixin styleTitles() {
  font-family: $font-titles;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: $color05;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.73;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
    line-height: 1.41;
  }
}
